.background {
  background-color: rgb(0, 132, 255);
  height: 100%;
  width: 100%;
  margin-top: 10%;
}

.beerMeButton {
  height: 50px;
  width: 100px;
  background-color: rgb(255, 206, 71);
  color: white;
  text-shadow:0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black ;
  border-radius: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.filterResults :hover{
  padding-top: 5px;
  cursor: pointer;
  text-decoration: underline;
  color: tomato;
  width: 100px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.filterResults p {
  width: 100px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}